@use 'sass:math';

$gutter: 15px;

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1044px;
    width: 100%;
    padding: 0 $gutter;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -#{$gutter};
}

@each $breakpoint, $width in $breakpoints {
    @for $col from 1 through $cols {
        @include media-min($breakpoint) {
            .col-#{$breakpoint}-#{$col} {
                display: flex;
                justify-content: center;
                width: math.percentage(math.div($col, $cols));
                padding: $gutter;
            }
        }
    }
}